.advantages {

}

.advantages__list {
  list-style: none;
  background-color: #eeeeee;
}

.advantages__item {
 text-align: center;
 }


.advantages__title {
  font-size: 18px;
  line-height: 26 / 18;
  font-style: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages__description {
 font-size: 14px;
 line-height: 21 / 14;
 color: #333333;
 text-transform: uppercase;
}

.advantages__box {
 text-align: center;
 background-color: #eeeeee;
 color: #000000;
}

.advantages__box--color {
    color: #ffffff;
    background-color: #81b3d2;
 }

.advantages__title--color {
  color: #ffffff;
}

.advantages__description--color {
  color: #ffffff;
}
