.advantages {
  text-align: center;
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.advantages__title {
  font-size: 18px;
  line-height: 26 / 18;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.advantages__description {
  font-size: 14px;
  line-height: 21 / 14;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
  }
}

.advantages__box {
  text-align: center;
  background-color: #eeeeee;
  color: #000000;
}

.advantages__box--color {
  color: #ffffff;
  background-color: #81b3d2;
  width: 100%;
}

.advantages__title--color {
  color: #ffffff;
}

.advantages__description--color {
  color: #ffffff;
}

.advantages__row {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 60px;
  }
}

.advantages__row--reverse {
  @media (min-width: @tablet-width) {
    flex-direction: row-reverse;
  }
}


.advantages__card {
  margin: 0;
  padding: 0;
  padding-top: 33px;
  flex: 0 0 percentage(1 / 3);
  height: auto;
  background-color: #eeeeee;
  width: 100%;
  padding-bottom: 7px;
  border-bottom: 1px solid #d6d6d6;

  &:last-child {
    border-bottom: none;
  }

  @media (min-width: @tablet-width) {
    padding-top: 50px;
    border-bottom: none;
    padding-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 40px;
  }

  &--primaryfirst {
    position: relative;
    background-color: #81b3d2;
    padding-top: 60px;
    padding-left: 27px;
    padding-right: 27px;
    padding-bottom: 19px;

    @media (min-width: @tablet-width) {
      padding-top: 46px;
      padding-left: 47px;
      padding-right: 47px;
      padding-bottom: 20px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 57px;
      padding-left: 67px;
      padding-right: 66px;
    }
  }

  &--primarysecond {
    background-color: #81b3d2;
    padding-top: 45px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 19px;

    @media (min-width: @tablet-width) {
      padding-top: 50px;
      padding-left: 51px;
      padding-right: 51px;
      padding-bottom: 20px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 57px;
      padding-bottom: 32px;
      padding-left: 93px;
      padding-right: 92px;
    }
  }
  &--third {
    padding-left: 41px;
    padding-right: 41px;

    @media (min-width: @tablet-width) {
      padding-left: 48px;
      padding-right: 55px;
    }

    @media (min-width: @desktop-width) {
      padding-left: 57px;
      padding-right: 63px;

    }
  }

  &--fourth {
    padding-left: 56px;
    padding-right: 55px;

    @media (min-width: @tablet-width) {
      padding-left: 55px;
      padding-right: 59px;
    }


    @media (min-width: @desktop-width) {
      padding-left: 63px;
      padding-right: 68px;

    }
  }

  &--fifth {
    padding-left: 36px;
    padding-right: 36px;

    @media (min-width: @tablet-width) {
      padding-left: 59px;
      padding-right: 54px;
    }

    @media (min-width: @desktop-width) {
      padding-left: 68px;
      padding-right: 70px;
    }
  }

  // &--fifth h {
  //   @media (min-width: @tablet-width) {
  //   padding-left: 77px;
  //   padding-right: 80px;
  // }


}

.advantages__triangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-left: 160px solid rgba(0, 0, 0, 0);
  border-right: 160px solid rgba(0, 0, 0, 0);
  border-top: 17px solid #ffffff;

  @media (min-width: @tablet-width) {
    display: none;
  }

}

.advantages__photo-mobile {
  display: none;
}

.advantages__photo {
  .advantages__photo-mobile {
    display: block;
  }
  width: 320px;
  height: 260px;
  margin-bottom: 20px;


  @media (min-width: @tablet-width) {
    width: 768px;
    height: 256px;
    flex: 0 0 percentage(2 / 3);
    max-width: percentage(2 / 3);
    margin-bottom: 0;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    height: 256px;
    flex: 0 0 percentage(2 / 3);
    max-width: percentage(2 / 3);
  }
}

.advantages__city {
  flex: 0 0 100%;

  @media (min-width: @tablet-width) {
    flex: 0 0 percentage(1 / 3);
    max-width: percentage(1 / 3);
  }
}

.advantages__city--order {
  order: 0;

  @media (min-width: @tablet-width) {
    order: 1;
  }
}
