.button {
  background-color: #81b3d2;
  font-size: 21px;
  font-style: 700;
  line-height: 26 / 21;
  color: #ffffff;
  text-transform: uppercase;
  height: 60px;
  width: 100%;
}

.button--send {
  max-width: 280px;
  margin-bottom: 77px;

  @media (min-width: @tablet-width) {
    max-width: 50%;
    margin-bottom: 0;
    flex: 1 0 50%;
  }
}
