.city {
  background-color: #ffffff;
  }

  .city__list {
    list-style: none;
    text-align: left;
  }

  .city__title {
    font-size: 18px;
    line-height: 26 / 18;
    font-style: 700;
    color: #000000;
    text-transform: uppercase;
   }

   .city__description {
    font-size: 14px;
    line-height: 21 / 14;
    text-transform: uppercase;
    color: #333333;
   }
