.field-checkbox {
  text-align: left;
}
.field-checkbox__input {
background-color: #f2f2f2;
}
.field-checkbox__label {
  font-size: 18px;
  font-style: 700;
  line-height: 26 / 18;
  color: #000000;
}
