.field-text {
  text-align: left;
  margin-bottom: 25px;
  display: flex;

  &--contacts {
    flex-wrap: wrap;
    display: flex;

    @media (min-width: @desktop-width) {
      flex-wrap: nowrap;
      flex: 0 0 50%;
    }

  }
}

.field-text__label {
  font-size: 14px;
  line-height: 26 / 14;
  color: #333333;
  text-transform: uppercase;
  align-self: center;
  width: auto;
  flex: 0 0 10%;

  &--contacts {
    flex: 1 0 100%;

    @media (min-width: @desktop-width) {
      flex: 0 0 25%;
    }

  }
}

.field-text__input {
  font-size: 18px;
  font-style: 700;
  line-height: 26 / 18;
  color: #000000;
  background-color: #f2f2f2;
  height: 58px;
  width: 100%;
  flex: 1 0 80%;
  // max-width: 200px;

  @media (min-width: @tablet-width) {

  }
}

.field-text__input-wrapper {
  flex: 0 0 100%;
  position: relative;

  @media (min-width: @desktop-width) {
    flex: 1 0 25%;
  }
}
