.field-text {
  text-align: left;
  // outline:  1px solid blue;
  margin-bottom: 25px;
  display: flex;
}

.field-text__label {
  font-size: 14px;
  line-height: 26 / 14;
  color: #333333;
  text-transform: uppercase;
  align-self: center;
  min-width: 80px;
}

.field-text__input {
  font-size: 18px;
  font-style: 700;
  line-height: 26 / 18;
  color: #000000;
  background-color: #f2f2f2;
  height: 58px;
  width: 100%;
}
