.form {
  text-align: center;
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}
.form-wrapper {
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.form__fieldset {
  text-align: center;
  border: none;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: @tablet-width) {
    width: auto;
    height: auto;
    outline: 2px solid green;
    flex: 0 0 percentage(1 / 2);
    max-width: percentage(1 / 2);
    padding: 0;
  }
}

.form__acquaintance {
  font-size: 18px;
  font-style: 700;
  line-height: 26 / 18;
  color: #000000;
  text-transform: uppercase;
  padding-top: 25px;
  margin-bottom: 30px;
}

.form__phone-pic,
.form__email-pic {
  margin: auto;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
}

.phone-pic__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.email-pic__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
