.form {
  text-align: center;
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.form__wrapper {
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.form__fieldset {
  margin: 0;
  text-align: center;
  border: none;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: @tablet-width) {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0;
    order: 2;
  }
}

.form__fieldset--first {
  @media (min-width: @tablet-width) {
    text-align: left;
    padding-left: 60px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 78px;
  }
}

.form__fieldset--second {
  @media (min-width: @tablet-width) {
    height: auto;
    flex: 1 0 100%;
    max-width: 100%;
    padding: 0;
    margin-top: -38px; //точно знаю что это неправильно, но пока не могу сообразить как нужно сделать
  }
}

.form__fieldset--third {
  padding-left: 20px;

  @media (min-width: @tablet-width) {
    order: 1;
    border-right: 1px solid #e5e5e5;
    text-align: left;
    max-width: 100%;
  }
}

.form__fieldset--fourth {
  @media (min-width: @tablet-width) {
    height: auto;
    flex: 1 0 100%;
    max-width: 100%;
    padding: 0;
  }
}

.form__fieldset--fifth {
  border: none;
  margin-bottom: 50px;

  @media (min-width: @tablet-width) {
    flex: 1 0 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: 58px;
  }
}

.form__acquaintance {
  font-size: 18px;
  font-weight: 700;
  line-height: 26 / 18;
  color: #000000;
  text-transform: uppercase;
  padding-top: 25px;
  margin-bottom: 30px;
}

.form__star {
  @media (min-width: @tablet-width) {

    width: auto;
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
    justify-content: space-between;
    margin-bottom: 100px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 120px;
    margin-right: 120px;
  }
}

.form__star--description {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    font-size: 14px;
    line-height: 24 / 14;
    color: #333333;
    text-transform: uppercase;
  }
}
