.page-footer {
  text-align: center;
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.page-footer__wrapper {
  outline: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-around;


  }

  @media (min-width: @desktop-width) {

  }
}
.page-footer__visitsedona
 {
   width: 140px;
   height: 20px;
   text-align: center;
   font-size: 21px;
   line-height: 26/21;
   font-style: 700;
   text-transform: uppercase;
   color: #000000;
   padding-top: 40px;
   padding-bottom: 40px;
 }

