.page-main {
  text-align: center;
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.page-main__title {
  font-size: 18px;
  font-style: 700;
  line-height: 26 / 18;
  color: #000000;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    font-style: 700;
    line-height: 26 / 21;
    color: #000000;
    text-transform: uppercase;
  }

  @media (min-width: @desktop-width) {
    font-size: 21px;
    font-style: 700;
    line-height: 26 / 21;
    color: #000000;
    text-transform: uppercase;
  }
}

.page-main__description {
  font-size: 14px;
  line-height: 26 / 14;
  color: #333333;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 26 / 14;
    color: #333333;
    text-transform: uppercase;
  }

  @media (min-width: @desktop-width) {
    font-size: 14px;
    line-height: 26 / 14;
    color: #333333;
    text-transform: uppercase;
  }
 }
.main_wrapper {
  width: 260px ;
  height: 150px ;
  padding-top: 45px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom:35px;

  @media (min-width: @tablet-width) {
    width:498px;
    height:100px;
    padding-top: 50px;
    padding-left: 135px;
    padding-right: 135px;
    padding-bottom: 55px;
 }

  @media (min-width: @desktop-width) {
    width: 500px;
    height: 100px;
    padding-top: 50px;
    padding-left: 350px;
    padding-right: 350px;
    padding-bottom:55px;
  }
}


