.page-main {
 text-align: center;
 width: 320px;
 margin: 0 auto;
}

.page-main__title {
  font-size: 18px;
  font-style: 700;
  line-height: 26 / 18;
  color: #000000;
  text-transform: uppercase;
  padding-top: 40px;
  padding-right: 30px;
  padding-bottom: 40px;
  padding-left: 30px;
}

.page-main__description {
  font-size: 14px;
  line-height: 26 / 14;
  color: #333333;
  text-transform: uppercase;
  padding-right: 30px;
  padding-bottom: 35px;
  padding-left: 30px;
}

@media (min-width: @tablet-width) {
  .page-main {
    text-align: center;
    width: 768px;
    margin: 0 auto;
   }
  .page-main__title {
    font-size: 21px;
    font-style: 700;
    line-height: 26 / 21;
    color: #000000;
    text-transform: uppercase;
    padding-top: 50px;
    padding-right: 165px;
    padding-bottom: 40px;
    padding-left: 165px;
  }
  .page-main__description {
    font-size: 14px;
    line-height: 26 / 14;
    color: #333333;
    text-transform: uppercase;
    padding-right: 140px;
    padding-bottom: 55px;
    padding-left: 140px;
  }
}


@media (min-width: @desktop-width) {
  .page-main {
    text-align: center;
    width: 1200px;
    margin: 0 auto;
   }
  .page-main__title {
    font-size: 21px;
    font-style: 700;
    line-height: 26 / 21;
    color: #000000;
    text-transform: uppercase;
  }
  .page-main__description {
    font-size: 14px;
    line-height: 26 / 14;
    color: #333333;
    text-transform: uppercase;
  }
}
