.page-form {
  text-align: center;
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.page-form__title {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 26 / 18;
  color: #000000;
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin-bottom: 26px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 30 / 30;
    margin-bottom: 30px;
  }
}

.page-form__description {
  padding: 0;
  margin: 0 auto;
  max-width: 320px;
  padding-bottom: 2px;
  font-size: 14px;
  line-height: 24 / 14;
  color: #333333;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    max-width: 443px;
    padding-bottom: 0;
  }
}

.page-form__title-wrapper {
  margin: 0 auto;
  max-width: 320px;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: @tablet-width) {
    border: none;
    max-width: 443px;
    margin-bottom: 53px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 38px;
  }
}
