.page-media {
  text-align: center;
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.page-media__title {
  font-size: 18px;
  font-style: 700;
  line-height: 26 / 18;
  color: #000000;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    font-style: 700;
    line-height: 26 / 21;
    color: #000000;
    text-transform: uppercase;
  }
}

.page-media__description {
  font-size: 14px;
  line-height: 24 / 14;
  color: #333333;
  text-transform: uppercase;
}

.page-media_wrapper {
  width: 320px;
  height: 200px;
  margin: auto;
  outline: 1px solid red;

  @media (min-width: @tablet-width) {
    margin-top: auto;
    width: 768px;
    height: 200px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    height: 200px;
  }
}
