.page-header {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    position: relative;
    display: block;
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.page-header__wrapper {
  position: relative;
  height: 56px;
  order: 5;
  flex: 0 0 100%;

  @media (min-width: @tablet-width) {
    z-index: 10;
    top: 0;
    position: absolute;
    width: 102px;
    height: 83px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.page-header__logo {
  top: 0;
  position: absolute;
  width: 102px;
  height: 83px;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: @tablet-width) {
    position: static;
    display: block;
    transform: translateX(0);
  }
}
