.photo {
  text-align: center;
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.photo__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 74px;
  }
}

.photo__item {
  height: auto;
  padding-top: 21px;
  padding-right: 21px;
  padding-left: 19px;
  padding-bottom: 22px;
  border-bottom: 1px solid #e5e5e5;

  .photo__item-mobile {
    display: block;
    height: 280px;
  }

  @media (min-width: @tablet-width) {
    border-bottom: none;

    .photo__item-mobile {
      height: 268px;
    }

    width: 768px;
    height: auto;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    flex: 0 0 percentage(1 / 3);
    max-width: percentage(1 / 3);
    position: relative;
  }

  &--grow {
    @media (min-width: @tablet-width) {
      .photo__item-mobile {
        height: 400px;
      }

      height: auto;
      flex: 1 0 100%;
      max-width: 100%;
      padding: 0;
    }

    @media (min-width: @desktop-width) {
      height: auto;
    }
  }

  .photo__item-textwrapper {

    display: flex;
    flex-wrap: wrap;

    @media (min-width: @tablet-width) {
      background-color: #f2f2f2;
      max-width: 768px;
      margin-bottom: 0;
      position: relative;
      padding-left: 20px;
    }

    @media (min-width: @desktop-width) {
      max-width: 1200px;
      position: absolute;
      width: 100%;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

.photo__item-title {
  margin: 0;
  padding: 0;
  padding-top: 15px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24 / 14;
  color: #000000;
  text-transform: uppercase;
  flex: 1 0 100%;
  text-align: left;


  @media (min-width: @tablet-width) {
    padding-top: 16px;
  }

  @media (min-width: @desktop-width) {
    color: #ffffff;
  }
}

.photo__item-description {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24 / 14;
  color: #333333;
  flex: 1 0 100%;
  text-align: left;
  margin-bottom: 7px;

  @media (min-width: @tablet-width) {
    flex: 1 0 50%;
    justify-content: space-between;
    padding-bottom: 10px;
  }

  @media (min-width: @desktop-width) {
    color: #ffffff;
  }
}

.photo__link {
  flex: 0 0 auto;
  align-self: center;
  margin-right: 15px;
  color: #b2b2b2;

  svg {
    fill: currentColor;
  }

  @media (min-width: @tablet-width) {
    margin-right: 10px;
  }

  @media (min-width: @desktop-width) {
    color: #ffffff;
  }
}

.photo__item-likewrapper {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-bottom: -3px;

  @media (min-width: @tablet-width) {
    position: absolute;
    right: 22px;
    bottom: 32px;
  }
}

.photo__item-likes {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 24 / 14;
  color: #000000;
  text-transform: uppercase;
  flex: 1 0 auto;
  align-self: center;

  @media (min-width: @desktop-width) {
    color: #ffffff;
  }
}
