.popup-succes {
  display: none;
  text-align: center;
  width: 320px;
  height: 323px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 640px;
    height: 347px;
  }
}

.popup-succes__text-wrapper {
  width: 100%;
  height: 225px;
  padding-left: 50px;
  padding-right: 50px;

  @media (min-width: @tablet-width) {
    height: 200px;
    padding: 0;
    margin: 0 auto;
    max-width: 416px;
  }
}

.popup-succes__title {
  font-family: inherit;
  font-style: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  padding-top: 49px;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 26 / 30;
    padding-top: 64px;
    margin-bottom: 31px;
  }
}

.popup-succes__description {
  font-family: inherit;
  color: #333333;
  font-size: 14px;
  line-height: 24 / 14;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 45px;
}

.popup-succes__button-wrapper {
  padding-top: 23px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 17px;
  text-align: center;
  width: 320px;
  background-color: #f2f2f2;
  height: 98px;


  @media (min-width: @tablet-width) {
    width: 640px;

    height: 147px;
    padding-top: 47px;
    padding-bottom: 44px;
    padding-left: 94px;
    padding-right: 89px;
  }
}
