.social {
  list-style: none;
  width: 100%;
  max-width: 151px;
  height: 48px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.social__item {

  margin: 0 auto;
  background-color: #81b3d2;
  width: 46px;
  height: 48px;

  @media (min-width: @tablet-width) {
    margin: 0 auto;

    &:not(:last-child) {
      margin-right: auto;
    }
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #ffffff;

  &:focus,
  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: #88b6d1;
  }

  svg {
    fill: currentColor;
  }
}
